@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #fff;
  /* background-color: #161616; */
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}


/* Base font size */
:root {
  font-size: 16px;
}
.playFair{
  font-family:'Playfair Display' ;
}

/* Desktop Styles */
  h1 {
    @apply text-[4.5rem] lg:text-[5.5rem]; /* Equivalent to 120px */
  }

  h2 {
     @apply text-[3.5rem] lg:text-[4.65rem]; /* Adjusted with golden ratio */
  }

  h3 {
    @apply  text-[1.75rem] lg:text-[2.88rem]; /* Adjusted with golden ratio */
  }

  h4 {
   @apply  text-[1.28rem] lg:text-[1.78rem]/* Adjusted with golden ratio */
  }

  h5 {
   @apply  text-[0.88rem] lg:text-[1.10rem] /* Adjusted with golden ratio */
  }

  h6 {
   @apply  text-[0.68rem]
  }

  p {
  @apply   text-[1rem]
  }


.navigationBar {
  width: 100vw;
  height: 4rem;
  background-color: black;
}
.menu{
 width: 3rem;
 height: 3rem;
}

.marquees {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
}

.marquees>* {
  white-space: nowrap;
  display: flex;
  width: fit-content;
  animation: move var(--d) linear infinite;
}

.marquees>*:nth-child(1) {
  --d: 18s;
}

.marquees>*:nth-child(2) {
  --d: 30s;
}

.marquees>*:nth-child(3) {
  --d: 16s;
}

.marquees>*:nth-child(4) {
  --d: 30s;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media screen and(max-width:768px) {
  
}

.navigationBar{
  position: absolute;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100vw;
  background-color: black;
}


.navigationContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
      margin: 00px 60px 0px 60px;
    align-items: center;
    height: 100%;
    width: 100%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  margin: 00px 60px 0px 60px;
}
.logoWrapper {
      display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}
.svg_icon{
  fill: white;
}
.menu_items{
  display: none;

}
.menu_items_1 {
    display: none;

}
.menu_items_2 {
    display: none;
    justify-content: center;
    position: absolute;
    transform: translateX(-2%); 
    top: 10rem;
    color: #fff;
    z-index: 1;
}

.menu_items_3 {
    display: none;
}

.menuWrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
}

.logo {
    color: #fff;
}

.menu {
    color: #fff;
}
.loading_screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: black;
  z-index: 1000;
  overflow: hidden;
}
.letter{
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.letter_1{
 transform: translateY(-100vh);
}
.letter_2{
 transform: translateY(100vh);
}
.letter_3{
 transform: translateY(-100vh);
}
.letter_4{
 transform: translateY(100vh);
}
.catch_text{
  opacity: 0;
}
.landing_page{
  height: calc(100vh - 8rem);
  width: 100vw;
  display: flex;
  align-items: end;
   justify-content: center;
  background-position: center;
  background-size: cover;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/aura-agency-32c86.appspot.com/o/mockup_1_1.png?alt=media&token=aa6c7c32-9230-4379-aef1-19750e9e53f3');
}
.landing_page h5 {
    color: #fff;
    font:bold;
    text-transform: uppercase;
   margin-bottom: 2rem;
}